.search-top {
    border: none;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
}

.fs-header-item {
    font-size: 12px;
}

.admin-info {
}

.admin-info__name {
    color: var(--primary-color) !important;
} 

.admin-info__img {
    width: 30px;
}